.scroll-wrap {
  position: relative;
  height: 250px;
  line-height: 250px;
  overflow: hidden;
  width: 100vw;
  @media (max-width: 768px) {
    height: 150px;
    line-height: 150px;
  }
  .scroll-text {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: Fairwall Sans;
    font-size: 200px;
    font-weight: 300;
    line-height: 209px;
    letter-spacing: 0em;
    color: transparent;
    white-space: nowrap;
    -webkit-text-stroke: 1px #ffc700;
    @media (max-width: 768px) {
      font-size: 50px;
      font-weight: 300;
      line-height: 60px;
      top: 45%;
      @keyframes primary {
        from {
          left: 0%;
        }
        to {
          left: -100%;
        }
      }
      
      @keyframes secondary {
        from {
          left: 100%;
        }
        to {
          left: 0%;
        }
      }
    }
  }
  .scroll-text_first {
    animation: primary 15s linear infinite;

  }
  .scroll-text_second {
    animation: secondary 15s linear infinite;
  }
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -150%;
  }
}

@keyframes secondary {
  from {
    left: 150%;
  }
  to {
    left: 0%;
  }
}
