.collection {
    padding-top: 136px;
    margin-bottom: 60px;
}
.collection-navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}
.collection-navigator h2 {
    margin: 0;
    font-family: Fairwall Sans;
    font-size: 48px;
    font-weight: 300;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #F2F6FF;

}
.collection-names {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.collection-navigator_button {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.collection-name {
    margin: 0;
    box-sizing: border-box;
    flex: 0 1 50%;
    padding: 34px 54px;
    border: 1px solid #fff;

    font-family: Fairwall Sans;
    font-size: 24px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #D3D3D3;
    text-transform: uppercase;
}

.isActive.main-button {
    background-color: #FFC700;
    color: #000 !important;
}